.story{
    height: auto;
    width: 40%;
    position: fixed;
    top: 400px;
    left: 140px;
    
}

.pos-story{
    position: fixed;
    left: 140px;
    
}

.font-title{
    font-size: 30px;
    position: fixed;
    top: 850px;
    width: 700px;
}

.font-body{
    position: fixed;
    font-size: 16px;
    top: 880px;
    width: 620px;
}