<div class="card crop" style="width: 3rem; ">
    <img src="/assets/rangoon.jpg" class="card-img-top" alt="...">
    <div class="card-body pos-card">
        
      <p class="card-text">Panda Express Ate All The Cream Cheese</p>
    </div>
  </div>

  <div class="card crop2" style="width: 4rem; ">
    <img src="/assets/shark.jpg" class="card-img-top" alt="...">
    <div class="card-body pos-card2">
        
      <p class="card-text">Shark Destroys University Wifi</p>
    </div>
  </div>

  <div class="card crop3" style="width: 5rem; ">
    <img src="/assets/tom.jpg" class="card-img-top" alt="...">
    <div class="card-body pos-card3">
        
      <p class="card-text">Tom Brady Retires After Losing Legs</p>
    </div>
  </div>

  <div class="card crop4" style="width: 4rem; ">
    <img src="/assets/fork.jpg" class="card-img-top" alt="...">
    <div class="card-body pos-card4">
        
      <p class="card-text">Mountainlair Places Ban On Forks</p>
    </div>
  </div>