.crop{
    height: auto;
    width: 100%;
    position: fixed;
    top: 295px;
    left: 140px;
    
}

.pos-card{
    position: fixed;
    left: 180px;
    top: 300px;
    border-right-style: solid;
    border-right-color: rgb(165, 165, 165);
    border-right-width:thin;
}

.crop2{
    height: auto;
    width: 100%;
    position: fixed;
    top: 300px;
    left: 520px;
    
}

.pos-card2{
    position: fixed;
    left: 580px;
    top: 300px;
    border-right-style: solid;
    border-right-color: rgb(165, 165, 165);
    border-right-width:thin;
}

.crop3{
    height: auto;
    width: 100%;
    position: fixed;
    top: 300px;
    left: 850px;
    
}

.pos-card3{
    position: fixed;
    left: 920px;
    top: 300px;
    border-right-style: solid;
    border-right-color: rgb(165, 165, 165);
    border-right-width:thin;
}

.crop4{
    height: auto;
    width: 100%;
    position: fixed;
    top: 290px;
    left: 1240px;
    
}

.pos-card4{
    position: fixed;
    left: 1300px;
    top: 300px;
}