.fm{
    background-color: black;
    border-bottom-style: solid;
    border-bottom-color: rgb(0, 90, 0);
    border-bottom-width: thick;
    height: 40px;
    width: 100%;
    font-size: 12px;
    
    position: fixed;
    
    top: 12px;
    
    
}
.firstnav{
    text-indent: 140px;
    
}


.button{
    background-color: rgb(0, 90, 0);
    color: white;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
}

.fixed{
    position: fixed;
    left: 140px;
    top: 50px;
    
}
.secondnav{
    position: fixed;
    left: 140px;
    top: 130px;
    font-size: 14px;
    font-weight: bold;
}