<nav class="navbar navbar-expand-lg navbar-dark bg-dark fm">
    <div class="container-fluid ">
      <a class="navbar-brand firstnav" href="#">THE ONION |</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">THE A.V.CLUB</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">DEADSPIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">GIZMODO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">JALOPNIK</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">JEZEBEL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">KOTAKU</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LIFEHACKER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THE ROOT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THE TAKEOUT |</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">THE INVENTORY</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand fixed" href="#">
        <img src="/assets/onionheader.png" alt="" width="500">
      </a>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-light bg-light secondnav">
    <div class="container-fluid">
      <a class="navbar-brand button" href="#">HOME</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">LATEST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">NEWS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LOCAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ENTERTAINMENT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">POLITICS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SPORTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OPINIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">OGN</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>